<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    
    <main class="container">

        <div class="d-flex flex-column align-items-center">
            <h1 class="text-center mt-5 display-3">Oops! Seems like we don't explore that page yet</h1>
            <a class="btn btn-outline-dark" href="/">View Blogs</a>
        </div>
        
    </main>

    <%- include('./partials/footer.ejs') %>
</body>
</html>