<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    
    <main class="container">
        <h1 class="display-1">About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate, minima autem hic tempora ipsam totam dolore consectetur nostrum veritatis laboriosam perspiciatis et placeat reiciendis, dolor maxime, laborum ratione eum ad.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore nam omnis fugit eius fuga maiores deserunt in libero quaerat? Molestiae recusandae ut cupiditate optio vel voluptatum explicabo quaerat inventore placeat natus quos accusantium laudantium repellat amet quia sequi, itaque eius perferendis maiores exercitationem dolorem incidunt! Veniam quas, eius deleniti mollitia iure eos ducimus vitae quisquam debitis excepturi praesentium? Inventore dicta perspiciatis eveniet maxime alias, quibusdam soluta similique sit non, repellat ut doloribus iusto vel reprehenderit fuga ducimus incidunt facere corrupti laudantium at, pariatur esse nobis! Ea distinctio ab cum ad maiores reiciendis voluptates odit nulla. Ad perferendis deleniti sed itaque?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum dolore, consequatur magnam blanditiis maxime quidem cupiditate maiores cumque iure commodi modi, non rerum! Amet saepe quis animi harum, delectus dolores nobis nisi labore laborum cum possimus voluptas incidunt consequuntur autem eaque rem itaque architecto sapiente totam repudiandae quo omnis maxime hic aut! Quae, velit est eum quo fuga laboriosam ut commodi pariatur odio deleniti blanditiis, officia voluptates, quisquam explicabo? Ipsam ullam consequatur impedit. Libero, numquam distinctio, quae esse quia nesciunt facere asperiores dolore placeat, iste dicta quidem aliquid ut cumque iure beatae ipsam error dolorem itaque? Nesciunt velit laborum quia vel et labore consequatur neque repudiandae tempore, laudantium culpa deserunt non dolorum repellendus odit, sint sapiente incidunt omnis! Ad, blanditiis necessitatibus enim eos neque harum obcaecati modi voluptatibus provident ipsa excepturi corrupti id ex dolor cum aut tenetur! Saepe explicabo quas itaque illo sed corporis? Sed minima amet nisi! Recusandae ratione beatae rem ex similique doloremque aperiam inventore optio ipsum! Dignissimos pariatur officia quo fugit eos est eum, alias facilis ex aspernatur recusandae necessitatibus dolore aliquam repellat voluptate iste maxime quae illo quam totam? Nobis temporibus, sed earum nulla quisquam ab animi eos illum sapiente vel rem minima rerum similique?</p>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>