<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
    <h1>Node.js is fun to learn</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde necessitatibus ab a aliquam adipisci incidunt? Nostrum iure saepe ratione consectetur est deleniti, praesentium, pariatur a explicabo dolor earum, culpa ducimus!</p>
    <a href="/about">About</a>
</body>
</html>